//Browser Reset

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


//Glyphs
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$bodycolor: #4F4F4F;


//Media Queries

$phone-min-width: 320px;
$phone-max-width: 480px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$kindle7-max-width: 1200px;
$kindle7-min-width: 800px;
$small-screen: 1400px;
$medium-screen: 1600px;
$large-screen: 2200px;

@mixin responsive($media: 'default', $min-width: 'default', $max-width: 'default') {
	@if $media == 'phone' {
		@media (max-width: $phone-max-width) { @content; }
	}
	@if $media == 'phone-tablet' {
		@media (max-width: $tablet-min-width) { @content; }
	}
	@if $media == 'tablet-portrait' {
		@media (min-width: $phone-max-width + 1px) and (max-width: $tablet-min-width) { @content; }
	}
	@if $media == 'tablet-landscape' {
		@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) { @content; }
	}
	@if $media == 'kindle7' {
		@media (min-width: $kindle7-min-width) and (max-width: $kindle7-max-width) { @content; }
	}
	@if $media == 'medium-screen' {
		@media (max-width: $medium-screen) { @content; }
	}
	@if $media == 'large-screen' {
		@media (max-width: $large-screen) { @content; }
	}
	@if $media == 'default' {
		@media (min-width: $min-width) and (max-width: $max-width) { @content; }
	}
}


//General Styles

body {
	width: 100%; height: 100%; max-height: 100%; min-height: 600px;
	font-family: 'Overlock', Georgia, sans-serif;
	font-weight: 100;
	font-size: 1.125em; line-height: 1.25em;
	color: $bodycolor;
}

#allwrap {
	width: 100%; height: 100%; max-height: 100%; position: relative; min-height: 600px;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab';
	color: #000;
}

h2 {
	font-size: 2.25em;
	font-weight: 400; line-height: 1.35em;
	margin-bottom: 40px;
}

h3 {
	font-size: 1.35em;
	font-weight: normal;
	margin-bottom: 20px;
}

p {
	line-height: 1.45em;

	& + p {
		margin-top: 1.125em;
	}
}

header {
	display: none;
}

h2.scene-title {
	display: block;
	width: 65%; height: auto;
	position: fixed;
	left: 0; bottom: 20px;
	text-align: center;

	@include responsive($media: 'phone-tablet') {
		width: 100%;
		bottom: auto; top: 10px;
		background: rgba(#fff,0.95);
	}
}

.data-credit {
	display: block;
	width: 65%; height: auto;
	position: fixed;
	left: 0; bottom: 10px;
	text-align: center;

	@include responsive($media: 'phone-tablet') {
		width: 100%;
		bottom: auto; top: 80px;
		background: rgba(#fff,0.95);
	}
}

#information-wrapper {
	width: 35%; height: 100%; max-height: 100%;
	padding-right: 40px;
	position: fixed;
	right: -40px; bottom: 0;
	overflow-x: hidden; overflow-y: scroll;  
	box-sizing: border-box;
	border-left: 1px solid rgba(#000,0.15);

	.source-header {
		display: block;
		width: 50%; height: 120px;
		position: absolute;
		top: 50px; left: 30px;
		background: url('/web/img/wikipedia.png') no-repeat center center;
		background-size: contain;
		text-indent: -100000px;
	}

	.info-injector {
		width: 80%; height: auto; max-height: 75%;
		padding: 0 0 40px 10%;
		box-sizing: border-box;
		position: absolute;
		left: 0; bottom: 100px;
		
		.source-caption {
			border-top: 3px solid rgba(#000,0.15);
			height: 80px; padding-top: 20px; margin-top: 30px;
		}
	}

	@include responsive($media: 'phone-tablet') {
		width: 100%;
		padding: 0; margin-top: 100px;
		position: static;

		.source-header {
			position: static;
			margin: 0 0 50px 10%;
			width: 40%;
		}

		.info-injector {
			padding: 0;
			margin: 0 auto;
			position: static;
		}
	}
}

#main-canvas-selectors {
	display: none;
	width: 60%; height: 120px;
	position: fixed; left: 0; bottom: 0; z-index: 50;
	background: rgba(#fff,0.95);


	ul {
		display: block; 
		width: 80%; height: 100%;
		margin: 20px auto 0 auto;

		li {
			display: block;
			width: 25%; height: 100%; float: left; position: relative;
			cursor: pointer;

			.icon {
				display: block;
				width: 100%; height: 50%;
				position: absolute;
				left: 0; top: 20px; z-index: 5;
			}

			.label {
				display: block;
				width: 100%; height: 2em;
				text-align: center;
				font-family: 'Roboto Slab';
				font-size: 0.75em; line-height: 2em; font-weight: 400;
				color: rgba(#fff,0);
				position: absolute; left: 0; top: -10px;
			}

			&.select-cryosphere {
				.icon {
					background: url('/web/svg/icon_iceberg.svg') no-repeat center center;
					background-size: contain;
				}
			}

			&.select-hydrosphere {
				.icon {
					background: url('/web/svg/icon_watermass.svg') no-repeat center center;
					background-size: contain;
				}
			}

			&.select-lithosphere {
				.icon {
					background: url('/web/svg/icon_earth.svg') no-repeat center center;
					background-size: contain;
				}
			}

			&.select-biosphere {
				.icon {
					background: url('/web/svg/icon_iceberg.svg') no-repeat center center;
					background-size: contain;
				}
			}

			&.select-atmosphere {
				.icon {
					background: url('/web/svg/icon_cloud.svg') no-repeat center center;
					background-size: contain;
				}
			}

			&:hover {
				.label {
					color: #000;
					transition: color 0.25s ease-out;
				}
			}
		}
	}

	@include responsive($media: 'phone-tablet') {
		width: 100%;
		bottom: auto; top: 0;

		ul {
			width: 100%; margin: 0;

			li {
				.icon {
					top: 18px;
				}

				.label {
					top: 80px;
				}
			}
		}
	}
}


//Stages & Scenes


#main-canvas {
	width: 65%; height: 622px;
	position: fixed; left: 0; top: 50%; margin-top: -311px;

	@include responsive($media: 'phone-tablet') {
		width: 100%; height: 100%;
		position: static; margin: 0;
	}
}

.infographic {
	width: 100%; height: 622px; position: relative;


	@include responsive($media: 'phone') {
		height: 190px; margin-top: 380px;
	}
	 
	@include responsive($media: 'tablet-portrait') {
		height: 200px; margin-top: 500px;
	}
}

.stage-wrapper {
	width: 420px; height: 200px;
	position: absolute;
	left: 50%; margin-left: -210px;
	top: 60%;

	.stage {
		width: 100%; height: 100%;
		position: relative;
	}

	@include responsive($media: 'phone') {
		width: 260px; height: 124px;
		margin-left: -130px;
		top: 30%;
	}
	 
	@include responsive($media: 'tablet-portrait') {
		width: 320px; height: 152px;
		margin-left: -160px;
		top: 30%;
	}
}

.data-holder {
	position: absolute;
	cursor: pointer;
	font-size: 16px;

	img {
		width: 100%; height: 100%;
	}

	.label {
		font-family: 'Roboto Slab';
		font-weight: normal;
		color: #FFF;

		.legend {
			font-size: 1.25em;

			.label {
				text-transform: uppercase;
				font-size: 0.65em;
			}
		}

		.stats {
			font-size: 2.25em;
		}

		.unit {
			font-size: 1em;
		}
	}

	.info-popbox {
		display: none;
		width: auto; height: auto; 
		min-width: 180px;
		max-width: 320px; max-height: 420px;
		padding: 30px;
		background: rgba(#fff, 0.95);
		position: absolute;
		right: 0; bottom: -210px; z-index: 150;
		box-shadow: inset 0 0 0 1px rgba(#000,0.25), 2px 2px 1px 0 rgba(#000, 0.15);

		.close-action {
			display: block;
			width: 30px; height: 30px;
			text-indent: -100000px;
			position: absolute;
			top: 15px; right: 15px;

			&:before {
				display: block;
				width: 30px; height: 30px;
				font-family: 'FontAwesome';
				content: "\f00d";
				color: lighten($bodycolor, 10%);
				//box-shadow: inset 0 0 0 1px red;
			}

			&:hover:before {
				color: #000;
				transition: color 0.25s ease-out;
			}
		}
	}
}

.scene-wrapper {
	width: 420px;
	position: absolute;
	left: 50%; margin-left: -210px;
	bottom: 40%;

	.scene {
		width: 100%; height: 100%;
		position: relative;
	}

	&.scene-CO2 {
		height: 222px;

		.data-holder {
			.label {
				width: 100%; height: auto;
				position: absolute;
				top: 15.3846154%; right: 19.52380852%; z-index: 100;

				span {
					display: block; text-align: right;
				}

				.legend {
					color: #000;

					.label {
						display: inline; 
						color: #000; margin-right: 5px;
						position: static;
					}
				}

				.stats {
					margin-top: 4px;
				}

				.unit {
					margin-top: 2px;
				}
			}

			.info-popbox {
				
			}

			&.cloud-CO2-01 {
				width: 24%;
				top: -94.5945946%;
				right: -7.14285714%;
				font-size: 9px; line-height: 1em;

				.label {
					top: 14.3846154%; right: 14.52380852%;
				}
			}

			&.cloud-CO2-02 {
				width: 28%;
				top: 4.5045045%;
				left: 21.4285714%;
				font-size: 10px; line-height: 1em;

				.label {
					top: 19.3846154%; right: 14.52380852%;

					.unit {
						margin-top: 4px;
					}
				}
			}

			&.cloud-CO2-03 {
				width: 32%;
				top: -108.108108%;
				left: 9.52380952%;
				font-size: 12px; line-height: 1em;

				.label {
					top: 19.3846154%; right: 14.52380852%;

					.unit {
						margin-top: 4px;
					}
				}
			}

			&.cloud-CO2-04 {
				width: 40%;
				top: -67.5675676%;
				right: 19.047619%;
				font-size: 14px; line-height: 1em;

				.label {
					top: 19.3846154%; right: 14.52380852%;

					.unit {
						margin-top: 4px;
					}
				}
			}

			&.cloud-CO2-05 {
				width: 45%;
				top: -58.5585586%;
				left: -11.9047619%;
				font-size: 15px; line-height: 1em;

				.label {
					top: 19.3846154%; 

					.unit {
						margin-top: 4px;
					}
				}
			}
			
			&.cloud-CO2-06 {
				width: 50%;
				top: -22.5225225%;
				right: -11.9047619%;
			}
		}

		.greenhouse-effect {
			width: 150%; height: auto;
			position: absolute;
			top: 0; left: 50%; margin-left: -75%; z-index: 100;

			img {
				width: 100%; height: 100%;
			}
		}
	}

	@include responsive($media: 'phone') {
		width: 260px; 
		margin-left: -130px;
		bottom: 70%;

		&.scene-CO2 {
			height: 137px;
		}
	}
	 
	@include responsive($media: 'tablet-portrait') {
		width: 320px; 
		margin-left: -160px;
		bottom: 70%;

		&.scene-CO2 {
			height: 169px;
		}
	}
}


